<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">

    <!-- Showcase -->
    <header class="showcase">
      <p>
        Mejores productos tecnologicos del mercado
      </p>
      <a href="http://localhost:4200/home" class="btn">
        Home <i class="fas fa-chevron-right"></i>
      </a>
    </header>

    <!-- Home cards 1 -->
    <section class="home-cards">
      <div>
        <img src="https://support.apple.com/content/dam/edam/applecare/images/en_US/psp/content-link-shareplay_2x.png" alt="">
        <h3>Mantenerse conectado con FaceTime</h3>
        <p>
            Comparte experiencias, trabaja en equipo, únete a una llamada de FaceTime desde cualquier navegador web y mucho más.
        </p>
        <a href="http://localhost:4200/tienda">Cómo comenzar <i class="fas fa-chevron-right"></i></a>
      </div>
      <div>
        <img src="https://support.apple.com/content/dam/edam/applecare/images/en_US/psp/content-link-watch-workout_2x.png" alt="" />
        <h3>Entrenar con el Apple Watch</h3>
        <p>
            Inicia el camino hacia una vida más saludable y haz un seguimiento de todas tus actividades.
        </p>
        <a href="http://localhost:4200/tienda">Ponerse en movimiento <i class="fas fa-chevron-right"></i></a>
      </div>
      <div>
        <img src="https://support.apple.com/content/dam/edam/applecare/images/en_US/psp/featured-section-my-support_2x.jpg" alt="" />
        <h3>Mi soporte</h3>
        <p>
            Obtén información actualizada sobre tus productos Apple en un solo lugar, por ejemplo, tus reparaciones, tus casos de soporte técnico y mucho más.
        </p>
        <a href="http://localhost:4200/tienda">Tiendas donde te ayudaran <i class="fas fa-chevron-right"></i></a>
      </div>
      <div>
        <img src="https://support.apple.com/content/dam/edam/applecare/images/en_US/repair/contentlink-warrantyandrepair_2x.png" alt="" />
        <h3>Garantía y reparación</h3>
        <p>
            Comprueba si tu producto Apple cumple los requisitos para obtener servicio y soporte técnico en virtud de nuestra garantía limitada. ¿Ya tienes una reparación en curso? Comprueba el estado.
        </p>
      </div>
    </section>

    <!-- Xbox -->
    <section class="xbox">
      <div class="content">
        <h2>Ten cuidado con las piezas falsificadas</h2>
        <p>Es posible que algunos adaptadores de energía y baterías de proveedores independientes no estén diseñados adecuadamente, y eso podría ocasionar problemas de seguridad. </p>
          <a href="http://localhost:4200/home" class="btn">
            Home <i class="fas fa-chevron-right"></i>
          </a>
      </div>
    </section>

    <!-- Home cards 2 -->
			<section class="home-cards">
				<div>
					<img src="https://images.vexels.com/media/users/3/129344/isolated/preview/e9cb06820df7f2ecf6a35375fe213839-icono-de-bateria.png" alt="" />
					<h3>Baterias</h3>
					<p>
						Si necesitas un adaptador de reemplazo
					</p>
					<a href="http://localhost:4200/tienda">Tienda <i class="fas fa-chevron-right"></i></a>
				</div>
				<div>
					<img src="https://support.apple.com/content/dam/edam/applecare/images/en_US/promo_icons/promo-icon-homepage-password_2x.png" alt="" />
					<h3>Olvidé el Apple ID o la contraseña</h3>
					<a href="#">linea de soporte <i class="fas fa-chevron-right"></i></a>
				</div>
				<div>
					<img src="https://support.apple.com/content/dam/edam/applecare/images/en_US/promo_icons/promo-icon-homepage-subscriptions_2x.png" alt="" />
					<h3>Facturacion y suscripciones</h3>
					<a href="#">Contactanos <i class="fas fa-chevron-right"></i></a>
				</div>
				<div>
					<img src="https://estaticos.muyinteresante.es/uploads/images/article/60be1cda5bafe83d72d5aedf/logo.jpg" alt="" />
					<h3>Obtener soporte técnico</h3>
					<p>
						Elige un producto, y encontraremos la mejor solución.
					</p>
					<a href="#">Comienza ahora <i class="fas fa-chevron-right"></i></a>
                    <a href="#">Descargar la app Soporte de Apple <i class="fas fa-chevron-right"></i></a>
				</div>
      </section>
      
      <!-- Carbon -->
      <section class="carbon dark">
        <div class="content">
          <h2>Programas de servicio de Apple</h2>
          <p>Programa de servicio de Apple Watch Series 6 para pantallas en blanco</p>
          <p>Programa de servicio para los dispositivos iPhone 12 y iPhone 12 Pro con problemas de falta de sonido</p>
          <p>Programa de reemplazo del módulo de la pantalla del iPhone 11 por problemas táctiles</p>
        </div>
      </section>

      <!-- Follow -->
      <section class="follow">
        <p>Seguir a Mac</p>
        <a href="https://facebook.com">
          <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook">
        </a>
        <a href="https://twitter.com">
          <img src="https://i.ibb.co/vJvbLwm/social-twitter.png" alt="Twitter">
        </a>
        <a href="https://linkedin.com">
          <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin">
        </a>
      </section>
    </div>
      <!-- Links -->
      <section class="links">
        <div class="links-inner">
          <ul>
            <li><h3>Soporte de productos</h3></li>
            <li><a href="#">iPhone</a></li>
            <li><a href="#">Mac</a></li>
            <li><a href="#">iPad</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">AirPods</a></li>
          </ul>
          <ul>
            <li><h3>Servicio y reparación</h3></li>
            <li><a href="#">Garantías de hardware</a></li>
            <li><a href="#">Contratos de licencia de software</a></li>
            <li><a href="#">Soporte sin costo</a></li>
          </ul>
          <ul>
            <li><h3>Recursos</h3></li>
            <li><a href="#">Mi soporte</a></li>
            <li><a href="#">Descargas</a></li>
            <li><a href="#">Manuales</a></li>
            <li><a href="#">Especificaciones técnicas</a></li>
            <li><a href="#">Accesibilidad</a></li>
            <li><a href="#">Empresa</a></li>
          </ul>
          <ul>
            <li><h3>Conéctate</h3></li>
            <li><a href="#">Comunícate con nosotros</a></li>
            <li><a href="#">Números de teléfono</a></li>
            <li><a href="#">App Soporte de Apple</a></li>
            <li><a href="#">Comunidades de Apple</a></li>
          </ul>
          <ul>
            <li><h3>Developer</h3></li>
            <li><a href="#">Unix con interfaz gráfica </a></li>
            <li><a href="#">Mac Dev Center</a></li>
            <li><a href="#">Mac Developer</a></li>
          </ul>
          <ul>
            <li><h3>Company</h3></li>
            <li><a href="#">Mac</a></li>
          </ul>
        </div>
      </section>

      <!-- Footer -->
      <footer class="footer">
        <div class="footer-inner">
          <div><i class="fas fa-globe fa-2x"></i> Copyright © 2022 Apple Inc</div>
          <ul>
					<li><a href="#">Política de privacidad</a></li>
					<li><a href="#"> Mapa del sitio</a></li>
          </ul>
        </div>
      </footer>